<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.find_gas_station">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="파인딩 오일"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        tools:ignore="Instantiatable">

        <activity
            android:name=".View.Activity.FragmentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            tools:ignore="MissingClass" />

        <activity
            android:name=".View.Activity.OilDetailActivity"
            android:exported="false" />

        <activity
            android:name=".View.Activity.SettingActivity"
            android:exported="true" />

        <activity android:name=".View.Activity.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_api_key}" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakao_api_key}" />

    </application>


</manifest>