<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.find_gas_station">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/main_icon"
        android:label="내 주변 주유소"
        android:roundIcon="@mipmap/main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".IntelActivity"
            android:exported="false" />
        <activity
            android:name=".set.setting_Activity"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrklrzdAqFyoHRLFT5UoIlaNY_FI6VAUU" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d522c426a1eb2601c487304a78ae9939" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />


    </application>

</manifest>